.get-started-container{
    width: 100%;
    height: 100%;
    display: table;
}

.get-started-heading-container{
    height: 86px;
    line-height: 86px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #707070;
    font-family: HelveticaNeue;
    display: table-row;
}

.get-started-carousel-container{
    height: 515px;
    background-color: #f2f2f2;
    margin-left: 40px;
    margin-right: 40px;

    /* display: table-row; */
}

.get-started-login-container{
    text-align: center;
    display: table-row;
}

.get-started-already-account-container{
    margin-top: 15px;
}

.get-started-already-account-text{
    color: #707070;
    font-size: 14px;
    font-weight: normal;
    font-family: HelveticaNeue;
}

.get-started-login-text{
    font-size: 14px;
    font-weight: normal;
    color: #3787d6;
    font-family: HelveticaNeue;
    cursor: pointer;
}

.get-started-login-text:hover{
    color: #5F9FDE
}

/******************************************* Carousel ********************************************/
.carousel .control-dots{
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    text-align: center;
    width: 100%;
    margin-block-start: 0px !important;
    padding-inline-start: 0px !important;

}

.get-started-carousel-background-container{
    height: 515px
}




/************************************************ Responsive Designs ******************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .get-started-carousel-container{
        min-height: 350px;
        max-height: 400px;
        background-color: #f2f2f2;
        margin-left: 40px;
        margin-right: 40px;
    
        /* display: table-row; */
    }
    .get-started-carousel-background-container{
        height: 350px;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .get-started-carousel-container{
        min-height: 400px;
        max-height: 500px;
        background-color: #f2f2f2;
        margin-left: 40px;
        margin-right: 40px;
    
        /* display: table-row; */
    }

    .get-started-carousel-background-container{
        min-height: 500px;
        max-height: 515px;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .get-started-carousel-container{
        height: 450px;
        background-color: #f2f2f2;
        margin-left: 40px;
        margin-right: 40px;
    
        /* display: table-row; */
    }

    .get-started-carousel-background-container{
        height: 450px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

