.profile-form-header{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}

.profile-form-header-text{
    float: left;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #707070;
}

.profile-form-close-container{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.profile-form-name-container{
    display: flex;
    display: -webkit-flex;
}


.profile-form-first-name-container{
    flex: 1 1 auto;
}


.profile-form-last-name-container{
    flex: 1 1 auto;
}

.profile-form-title-container{
    font-size: 12px;
    margin-bottom: 10px;
}

.profile-form-user-pic-container{
    display: flex !important;
    display: -webkit-flex !important;
    justify-content: center;
}

.profile-form-pic-container{
    width: 103px;
    height: 103px;
    border-radius: 103px;
    display: inline-block;
    background-color: #d9d9d9;
    margin-top: 20px;
    cursor: pointer;
}

.profile-form-referral-link-container{
    height: 35px;
    width: 395px;
    border: 1px solid #eeeeee;
    line-height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.profile-form-referral-link{
    width: 335px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
