.success-dialog-container{
    height: 342.3px;
    width: 514.5px !important;
}

.sucess-dialog-header-container{
    height: 70px;
    line-height: 70px;
    display: flex;
    display: -webkit-flex;
    border-bottom: 2px solid #dddddd;
    padding-left: 20px;
}

.success-dialog-header-text-container{
    flex: 1 1 auto;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    color: #707070;
    margin-right: 30px;
}

.success-dialog-data-container{
    text-align: center;
}

.success-dialog-success-text{
    margin-top: 20px;
    line-height: 20px;
    font-family: HelveticaNeue;
    font-size: 14px;
    color:#707070
}

.sucess-dialog-footer-container{
    height: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #dddddd;
    width: 100%;
    text-align: center;
}