.mini-bytes-container{
    color: #707070;
    font-family: HelveticaNeue;
    font-size: 14px;
    margin-top: 20px;
}

.mini-bytes-image-container{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    border: 1px solid #dddddd;
}




.mini-bytes-quote-container{
    margin-top: 20px;
}

.mini-bytes-image{
    
}

.mini-bytes-next-button-container{
    text-align: center;
}

.mini-bytes-data-container{
    background: #fff;
}

.introduction-heading-text-container{
    font-weight: bold;
    text-align: center;
}

.introduction-content-container{
    margin-top: 20px;
}


/*******************



/********************************************** Responsive Designs ***********************************************/


@media only screen and (max-width: 600px) {

    .mini-bytes-image-container {
        text-align: center;
        margin-left: 50px;
        margin-right: 43px;
        border: 1px solid #dddddd;
    }
    .mini-bytes-image{
        width: 257px;
    }

    .mini-bytes-data-container {
        margin-left: 50px;
        margin-right: 43px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }
    .mini-bytes-next-button-container{
        margin-left: 50px;
        margin-right: 43px;
        margin-top: 20px;
    }
    
}

@media only screen and (max-width: 320px) {
    .mini-bytes-image-container {
        text-align: center;
        margin-left: 50px;
        margin-right: 43px;
        border: 1px solid #dddddd;
    }
    .mini-bytes-image{
        width: 257px;
    }
    
    .mini-bytes-data-container {
        margin-left: 50px;
        margin-right: 43px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }
    .mini-bytes-next-button-container{
        margin-left: 50px;
        margin-right: 43px;
        margin-top: 20px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mini-bytes-image-container {
        text-align: center;
        margin-left: 50px;
        margin-right: 43px;
        border: 1px solid #dddddd;
    }
    .mini-bytes-image{
        width: 257px;
    }
    .mini-bytes-data-container {
        margin-left: 50px;
        margin-right: 43px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }
    .mini-bytes-next-button-container{
        margin-left: 50px;
        margin-right: 43px;
        margin-top: 20px;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .mini-bytes-image-container {
        text-align: center;
        margin-left: 50px;
        margin-right: 43px;
        border: 1px solid #dddddd;
    }
    .mini-bytes-image{
        width: 257px;
    }
    .mini-bytes-data-container {
        margin-left: 50px;
        margin-right: 43px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }
    .mini-bytes-next-button-container{
        margin-left: 50px;
        margin-right: 43px;
        margin-top: 20px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .mini-bytes-image-container{
        text-align: center;
        margin-left: 350px;
        margin-right: 350px;
        border: 1px solid #dddddd;
    }

    .mini-bytes-data-container{
        margin-left: 350px;
        margin-right: 350px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }

    .mini-bytes-next-button-container{
        margin-left: 350px;
        margin-right: 350px;
        margin-top: 20px;
    }
   
    

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .mini-bytes-image-container{
        text-align: center;
        margin-left: 350px;
        margin-right: 350px;
        border: 1px solid #dddddd;
    }

    .mini-bytes-data-container{
        margin-left: 350px;
        margin-right: 350px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
        /* border: 1px solid; */
        padding-left: 20px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
        /* background: #dddddd; */
    }

    .mini-bytes-next-button-container{
        margin-left: 350px;
        margin-right: 350px;
        margin-top: 20px;
        text-align: center;
    }
    
}

