.auth-container{
    height: 100%;
}

.auth-container-image-container{
    height: 100%;
    padding-left: 40px;
    padding-top: 25px;
    /* padding-bottom: 25px; */
}

.auth-container-image-placeholder{
    background-color: #f2f2f2;
    height: inherit;
}

.auth-container-form-container{
    height: 100%;
    padding-left: 30px;
    padding-top: 25px;
    padding-right: 30px;
}

