.auth-container{
    height: 100%;
}

.auth-container-image-container{
    height: 100%;
    /* padding-left: 40px; */
    padding-top: 25px;
    /* padding-bottom: 25px; */
}

.auth-container-image-placeholder{
    /* background-color: #f2f2f2; */
    height: inherit;
    text-align: center;
}

.auth-container-form-container{
    height: 100%;
    /* padding-left: 30px; */
    padding-top: 25px;
    padding-right: 30px;
}

.auth-container-image-grid-container{

}

.auth-container-form-grid-container{

}

.auth-container-image{

}


/************************************************* Responsive Designs *******************************************/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
    .auth-container-image-grid-container{
        width: 0px !important;
    }

    .ui.column.grid>[class*="ten wide"].column, .ui.grid>.column.row>[class*="ten wide"].column, .ui.grid>.row>[class*="ten wide"].column, .ui.grid>[class*="ten wide"].column {
        width: 0px!important;
    }

   
    .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
        width: 100%!important;
    }
    .auth-container-form-grid-container{
        width: 100% !important
    }

    .auth-container-image{
        visibility: hidden;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
    .auth-container-image-grid-container{
        width: 0px !important;
    }

    .auth-container-form-grid-container{
        width: 100% !important
    }
    .ui.column.grid>[class*="ten wide"].column, .ui.grid>.column.row>[class*="ten wide"].column, .ui.grid>.row>[class*="ten wide"].column, .ui.grid>[class*="ten wide"].column {
        width: 0px!important;
    }

   
    .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
        width: 100%!important;
    }
    .auth-container-image{
        visibility: hidden;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
    .auth-container-image-grid-container{
        width: 0px !important;
    }

    .auth-container-form-grid-container{
        width: 100% !important
    }
    .ui.column.grid>[class*="ten wide"].column, .ui.grid>.column.row>[class*="ten wide"].column, .ui.grid>.row>[class*="ten wide"].column, .ui.grid>[class*="ten wide"].column {
        width: 0px!important;
    }

   
    .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
        width: 100%!important;
    }
    .auth-container-image{
        visibility: hidden;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .ui.column.grid>[class*="ten wide"].column, .ui.grid>.column.row>[class*="ten wide"].column, .ui.grid>.row>[class*="ten wide"].column, .ui.grid>[class*="ten wide"].column {
        width: 62.5%!important;
    }

    .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
        width: 37.5%!important;
    }
    .auth-container-image{
        visibility: visible;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ui.column.grid>[class*="ten wide"].column, .ui.grid>.column.row>[class*="ten wide"].column, .ui.grid>.row>[class*="ten wide"].column, .ui.grid>[class*="ten wide"].column {
        width: 62.5%!important;
    }

    .ui.column.grid>[class*="six wide"].column, .ui.grid>.column.row>[class*="six wide"].column, .ui.grid>.row>[class*="six wide"].column, .ui.grid>[class*="six wide"].column {
        width: 37.5%!important;
        
    }
    .auth-container-image{
        visibility: visible;
    }
}



