.invite-friends-container{
    height: calc(100% - 50px);
    display: table;
    width: 100%;
}

.invite-friends-grid-container{
    height: 100%;
}

.invite-friends-invite-image-container{
    /* height: 60%; */
}

.invite-friends-invite-text-container{
    /* height: 40%; */
}

.invite-friends-invite-image-data-container{
    text-align: center;
    width: 100%;
    padding-top: 33px;
}

.invite-friends-text-one-container{
    font-family: HelveticaNeue;
    font-size: 16px;
    margin-top: 20px;
    color: #707070;
}

.invite-friends-terms-and-conditions-container{
    margin-top: 10px;
    font-family: HelveticaNeue;
    font-size: 12px;
    color: #3787d6;
}

.invite-friends-button-container{
    margin-top: 20px;
}

.invite-friends-referral-container{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.invite-friends-or-text-container{
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #707070;
}

.invite-friends-share-your-text-container{
    opacity: 0.5;
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #707070;
    margin-top: 10px;
}

.invite-friends-referral-text-container{
    /* height: 40px;
    line-height: 40px;
    margin-top: 20px; */
    /* width: 400px; */
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 20px;
    /* text-align: center; */
}

.invite-friends-referral-text{
    width: 400px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    color: #707070;
    font-family: HelveticaNeue;
}

.invite-friends-referral-copy-text{
    float: right;
    padding-right: 10px;
    color: #3787d6;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold
}

.invite-contacts-button{
    width: 400px !important;
}

.invite-friends-referral-link-container{
    height: 35px;
    /* width: 395px; */
    border: 1px solid #eeeeee;
    line-height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

.invite-friends-referral-link{
    width: 335px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}


/***************************************************** Responsive Designs ******************************************/

/* Extra small devices (phones, 600px and down) */



@media only screen and (max-width: 600px) {
    .invite-friends-referral-text{
        width: 200px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 200px !important;
    }
}

@media only screen and (max-width: 320px) {
 
    .invite-friends-referral-text{
        width: 200px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 200px !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .invite-friends-referral-text{
        width: 250px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 250px !important;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .invite-friends-referral-text{
        width: 300px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 300px !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .invite-friends-referral-text{
        width: 400px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 400px !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .invite-friends-referral-text{
        width: 400px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        color: #707070;
        font-family: HelveticaNeue;
    }

    .invite-contacts-button{
        width: 400px !important;
    }
}


