
.invite-contact-container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    padding-left: 350px;
    padding-right: 350px;
    margin-top: 30px;
}
/****************************************** Invite Contacts Item ************************************/

.invite-contacts-item-container{
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.invite-contacts-item-text{
    margin-top: 10px;
    font-family: HelveticaNeue;
  font-size: 13px;
  color: #707070;
}


/***************************************** Invite Contacts Empty *************************************/

.invite-contact-empty-circle{
    height: 42px;
    width: 42px;
    background: #707070;
    border-radius: 42px;
    opacity: 0.4;
    margin-left: 10px;
}

.invite-contact-empty-text{
    opacity: 0.4;
    width: 62px;
    height: 10px;
    border-radius: 47px;
    background-color: #707070;
    margin-top: 20px;

}


/***************************************************** Responsive Designs ******************************************/

/* Extra small devices (phones, 600px and down) */



@media only screen and (max-width: 600px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    
}

@media only screen and (max-width: 320px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 350px;
        padding-right: 350px;
        margin-top: 30px;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .invite-contact-container{
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        padding-left: 350px;
        padding-right: 350px;
        margin-top: 30px;
    }

}





