
.leader-board-container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.leader-board-list-container{

}

.leader-board-great-text-container{
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #707070;
    font-family: HelveticaNeue;
}

/********************************************* LEADERBOARD ITEM ********************************************/

.leader-board-item-container{
    height: 60px;
    line-height: 60px;
    display: flex;
    display: -webkit-flex;
    padding-left: 40px;
    padding-right: 40px;
    width: 782px;
    cursor: pointer;
}

.leader-board-item-container:hover{
    background-color: rgba(0, 0, 0, 0.04);

}



.is-login-user{
    background-color: #676767;
}

.leader-board-item-text{
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #707070
}


/***************************************************** Responsive Designs ******************************************/

/* Extra small devices (phones, 600px and down) */



@media only screen and (max-width: 600px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        cursor: pointer;
    }
    
}

@media only screen and (max-width: 320px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        cursor: pointer;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        cursor: pointer;
    }
    
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        cursor: pointer;
    }
    
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 782px;
        cursor: pointer;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .leader-board-item-container{
        height: 60px;
        line-height: 60px;
        display: flex;
        display: -webkit-flex;
        padding-left: 40px;
        padding-right: 40px;
        width: 782px;
        cursor: pointer;
    }

}






