.quiz-container{
    height: 100%;
    width: 100%
}
.quiz-header-container{
    height: 55px;
    line-height: 55px;
    background-color: #f0f0f0;
    display: flex;
    display: -webkit-flex;
    padding-left: 15px;
    padding-right: 15px;
}

.quiz-header-time-container{
    flex: 1 1 auto;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.quiz-header-time-text{
    margin-left: 5px;
}

.quiz-header-progress-container{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;
    display: -webkit-flex;
}

.quiz-header-progress-text-container{
    margin-left: 10px;
    position: relative;
    bottom: 8px;
    font-family: HelveticaNeue;
    font-size: 13px;
    color: #707070;
}

.quiz-header-progress-container .ui.progress .bar{
    height: 3px !important; 
}

.quiz-question-header-container{
    display: flex;
    justify-content: center;
}

.quiz-question-center-icon-container{
    width: 130px !important;
    height: 130px !important;
}

.quiz-question-text-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 17px;
    font-weight: 500;
    color: #707070;
}

.quiz-question-option-container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-top: 30px;
}

.quiz-question-option-data{
    width: 626px;
}

.quiz-last-option-container{
    margin-top: 30px;
    height: 100%;
}

.quiz-initial-option-container{
    height: 100%;
}

.quiz-odd-option-container{
    float: left;
    text-align: center;
    border: solid 0.5px rgba(112, 112, 112, 0.2);
    cursor: pointer;
}

.quiz-even-option-container{
    float: right;
    text-align: center;
    border: solid 0.5px rgba(112, 112, 112, 0.2);
    cursor: pointer;
}

.quiz-option-image-container{
    border-bottom: solid 0.5px rgba(112, 112, 112, 0.2);
}

.quiz-option-odd-image{
    width: 134px !important; 
    height: 90px !important;
}

.quiz-option-even-image{
    width: 134px !important; 
    height: 90px !important;
    float: right !important;
}

.quiz-option-odd-text-container{
        /* height: 30px; */
        width: 134px;
        /* line-height: 30px; */
        font-size: 14px;
        color: #707070;
        font-family: HelveticaNeue;
        cursor: pointer;
}

.quiz-option-even-text-container{
    height: 30px;
    line-height: 30px;
    margin-top: 90px;
    font-size: 14px;
    color: #707070;
    font-family: HelveticaNeue;
    cursor: pointer;
}

.quiz-explaination-container{
    float: right;
    position: absolute;
    width: 314px;
    min-height: 100px;
    right: 0;
    margin-right: 30px;
    background-color: #f0f0f0;
    padding: 20px;
}

.quiz-explaination-text-container{
    color: #707070;
    font-family: HelveticaNeue;
    font-size: 14px;
    margin-bottom: 5px;
}

.quiz-explaination-content-container{
    color: #707070
}

.quiz-explaination-mobile-container{
    /* background-color: #f0f0f0; */
    padding: 20px;
    margin-top: 20px;

}

.quiz-explaination-mobile-text-container{
    color: #707070;
    font-family: HelveticaNeue;
    font-size: 14px;
    margin-bottom: 5px;
}

.quiz-explaination-mobile-content-container{
    color: #707070
}

.quiz-question-text{
    max-width: 500px;
}

.quiz-odd-option-container:hover{
    border: 1px solid #aaaaaa
}

.quiz-even-option-container:hover{
    border: 1px solid #aaaaaa
}




/************************************************ Responsive Design ********************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
    .quiz-question-center-icon-container{
        width: 80px !important;
        height: 80px !important;
    }

    .quiz-question-text-container{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        text-align: center;
        font-family: HelveticaNeue;
        font-size: 15px;
        font-weight: 500;
        color: #707070;
    }

    .quiz-question-option-data{
        width: 300px;
    }

    .quiz-initial-option-container{
        height: 120px;
    }

    .quiz-last-option-container{
        margin-top: 30px;
        height: 120px;
    }

    .quiz-option-odd-text-container{
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #707070;
        font-family: HelveticaNeue
    }
    
    .quiz-option-even-text-container{
        height: 20px;
        line-height: 20px;
        margin-top: 74px;
        font-size: 12px;
        color: #707070;
        font-family: HelveticaNeue
    }

    .quiz-option-odd-image{
        width: 100px !important; 
        height: 70px !important;
    }
    
    .quiz-option-even-image{
        width: 100px !important; 
        height: 70px !important;
        float: right !important;
    }

    .quiz-explaination-container{
        visibility: hidden;
    }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .quiz-explaination-container{
        visibility: hidden;
    }
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .quiz-explaination-mobile-container{
        visibility: visible;
        position: absolute;
        bottom: 0;
    }
    .quiz-explaination-container{
        visibility: hidden;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .quiz-explaination-mobile-container{
        visibility: visible;
        position: absolute;
        bottom: 0;
    }
    .quiz-explaination-container{
        visibility: hidden;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .quiz-explaination-mobile-container{
        visibility: hidden;
    }
    .quiz-explaination-container{
        visibility: visible;
    }
}

