.advertising-comment-parent-container{
    display: table;
    height: 100%;
    width: 100%
}

.advertising-comment-container{
    display: table-row;
    height: 100%;
    width: 100%
}

.advertsing-comment-header-container{
    /* margin-top: 65.5px; */
    height: 75px;
    background: rgba(0, 0, 0, 0.06);
    /* text-align: center; */
    line-height: 75px;
}

.advertising-comment-image-container{
    float: left;
    width: 71px;
    height: 111px;
    margin-left: 20px;
    position: relative;
    bottom: 32px;
}

.advertsing-comment-text-container{
    margin-left: 50px;
    float: left;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: bold;
    color: #707070;
}

.advertising-comment-input-container{
    position: absolute;
    bottom: 0;
    width: 1127px;
    width: inherit;
    margin-bottom: 30px;
    /* display: table-row; */
}

.advertising-comment-data-container{
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}


/*************************************** Advertising Comment Data **********************************/

.advertising-comment-data-element-container{
    min-height: 50px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 10px
}

.advertising-comment-username-container{
    font-size: 12px;
    font-weight: bold;
    color: #777777;
    font-style: italic;
}

.advertising-comment-comment-data-container{
    color: #707070;
}



/************************************************** Responsive Designs **********************************************/

/*** Mobile ***/

@media only screen and (max-width: 379px){
    .advertising-comment-data-container{
        height: 200px;
    }

    .advertising-comment-input-container{
        width: 300px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 549px){
    .advertising-comment-data-container{
        height: 350px;
    }

    .advertising-comment-input-container{
        width: 380px;
    }
}


@media only screen and (min-width: 550px) and (max-width: 700px){
    .advertising-comment-data-container{
        height: 350px;
    }

    .advertising-comment-input-container{
        width: 550px;
    }
}

/*** Tablet ***/
@media only screen and (min-width: 701px) and (max-width: 767px){
    .advertising-comment-data-container{
        height: 400px;
    }

    /* .advertising-comment-input-container{
        width: 700px;
    } */
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .advertising-comment-data-container{
        height: 400px;
    }

    /* .advertising-comment-input-container{
        width: 768px;
    } */
}


/*** Desktop ***/
@media only screen and (min-width: 1025px) and (max-width: 1199px){
    .advertising-comment-data-container{
        height: 500px;
    }

    /* .advertising-comment-input-container{
        width: 1000px;
    } */
}

/* Default */
@media only screen and (min-width: 1200px) and (max-width: 1918px){
    .advertising-comment-data-container{
        height: 500px;
    }

    /* .advertising-comment-input-container{
        width: 1150px;
    } */
}

/*** BigScreen ***/
@media only screen and (min-width: 1919px){

    .advertising-comment-data-container{
        height: 600px;
    }
    /* .advertising-comment-input-container{
        width: 1800px;
    } */
}





